

<!--if not logged in-->
<body>
<div class="wrapper">
  <section class="clearfix">
    <article class="one_fourth"></article>
    <article class="one_half">
      <h2>Please enter your email.</h2>
    </article>
    <form action="/new_email" method="post">
      <input class="form_width" type="text" name="email"><br><br>
      <button id="submit_button" type="submit">Submit</button>
    </form>
    <article class="one_fourth"></article>
  </section>


</div>
</body>
